.home {
	max-width: 1080px;
	min-height: 90vh;
	margin: 5rem auto;
	background: #fff;
	border-radius: 20px;
	box-shadow: 0 10px 20px rgb(0 0 0 / 4%);

	.home-content {
		display: flex;
		flex-direction: column;
		gap: 4rem;
		padding: 4rem;

		.home-topbar {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.home-title {
				font-size: 3.2rem;
				font-weight: 700;
			}

			.search {
				position: relative;
				display: flex;
				align-items: center;
				padding: 0 1.5rem;
				border: 0.1rem solid #f3f3f3;
				border-radius: 10px;

				.search-icon {
					margin-right: 1rem;
				}

				.search-input {
					width: 20rem;
					padding: 1.3rem;
					font-size: 1.6rem;
					border: none;
					outline: none;

					&::placeholder {
						color: #b0b0b0;
					}
				}
			}
		}

		.home-items {
			display: grid;
			justify-content: center;
			gap: 3rem;
			grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
		}
	}
}
