.favorites {
	display: flex;
	flex-direction: column;
	max-width: 1080px;
	min-height: 850px;
	margin: 50px auto;
	background: #fff;
	border-radius: 20px;
	box-shadow: 0 10px 20px rgb(0 0 0 / 4%);

	.favorites-content {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		gap: 4rem;
		padding: 4rem;

		.favorites-topbar .favorites-title {
			font-size: 3.2rem;
			font-weight: 700;
		}

		.favorites-items {
			display: grid;
			justify-content: center;
			gap: 3rem;
			grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
		}

		.favorites-empty {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 4rem;
			margin: auto;
			text-align: center;
			animation: fadeIn 0.4s ease-in-out;

			.favorites-empty-image {
				width: 120px;
				height: 120px;
				margin-bottom: 2rem;
				object-fit: contain;
			}

			.favorites-empty-title {
				margin-bottom: 1rem;
				font-size: 2.2rem;
				font-weight: 600;
			}

			.favorites-empty-text {
				margin-bottom: 3rem;
				font-size: 1.6rem;
				line-height: 2.4rem;
				color: #9d9d9d;
			}

			.favorites-empty-button {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 1rem;
				width: 300px;
				height: 5rem;
				padding: 1rem 2rem;
				font-size: 1.6rem;
				font-weight: 600;
				color: #fff;
				background: #9dd558;
				border-radius: 1.125rem;
				cursor: pointer;

				img {
					transition: transform 0.15s ease-in-out;
					transform: rotate(180deg);
				}

				&:hover img {
					transform: translateX(-0.5rem) rotate(180deg);
				}
			}
		}
	}
}
