.favorites {
	background: #ffffff;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
	border-radius: 20px;
	max-width: 1080px;
	min-height: 850px;
	margin: 50px auto;
	display: flex;
	flex-direction: column;

	.favorites__content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		gap: 4rem;
		padding: 4rem;

		.favorites__topbar .favorites__title {
			font-size: 3.2rem;
			font-weight: 700;
		}

		.favorites__items {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
			justify-content: center;
			gap: 3rem;
		}

		.favoritesEmpty {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: auto;
			padding: 4rem;
			text-align: center;
			animation: fadeIn 0.4s ease-in-out;

			.favoritesEmpty__image {
				margin-bottom: 2rem;
				width: 120px;
				height: 120px;
				object-fit: contain;
			}

			.favoritesEmpty__title {
				font-size: 2.2rem;
				font-weight: 600;
				margin-bottom: 1rem;
			}

			.favoritesEmpty__text {
				font-size: 1.6rem;
				line-height: 2.4rem;
				margin-bottom: 3rem;
				color: #9d9d9d;
			}

			.favoritesEmpty__button {
				width: 100%;
				padding: 1rem 2rem;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 1rem;
				position: relative;
				width: 300px;
				height: 5rem;
				background: #9dd558;
				border-radius: 1.125rem;
				color: #fff;
				font-size: 1.6rem;
				font-weight: 600;
				cursor: pointer;

				img {
					transform: rotate(180deg);
					transition: transform 0.15s ease-in-out;
				}

				&:hover img {
					transform: translateX(-0.5rem) rotate(180deg);
				}
			}
		}
	}
}
