{
	"tabWidth": 2,
	"useTabs": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"/ui/",
		"/hooks/",
		"/screens/",
		"/components/",
		"/constants/",
		"/services/",
		"/styles/",
		"^../(.*)",
		"^./(.*)",
		"/module.css/"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
