.overlay {
	position: fixed;
	z-index: 10;
	inset: 0;
	background-color: rgb(0 0 0 / 50%);

	b {
		font-size: 1.6rem;
		font-weight: 700;
	}

	.drawer {
		position: fixed;
		z-index: 20;
		top: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		width: 400px;
		height: 100%;
		padding: 3rem;
		background: #fff;
		transition: transform 0.3s ease;
		animation: slide-in-drawer 0.3s forwards;
		transform: translateX(100%);

		.drawer-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 2rem;

			.drawer-title {
				font-size: 2.4rem;
				font-weight: 700;
			}
		}
	}

	.drawer-items {
		flex: 1;
		padding-right: 1rem;
		margin-right: -1rem;
		margin-bottom: 2.5rem;
		overflow-y: auto;

		.cart-item {
			display: flex;
			align-items: center;
			padding: 2rem;
			margin-bottom: 2rem;
			border: 1px solid #f3f3f3;
			border-radius: 20px;
			transition: box-shadow 0.2s ease;

			&:hover {
				box-shadow: 0 5px 10px rgb(0 0 0 / 5%);
			}

			.cart-item-image {
				width: 70px;
				height: 70px;
				object-fit: contain;
				margin-right: 2rem;
			}

			.cart-item-info {
				display: flex;
				flex: 1;
				flex-direction: column;
				justify-content: center;
				margin-right: 1.2rem;
				text-wrap: balance;

				p {
					margin-bottom: 0.8rem;
					font-size: 1.4rem;
				}
			}
		}
	}

	.cart-total-block {
		ul {
			font-size: 1.6rem;

			li {
				display: flex;
				align-items: flex-end;
				margin-bottom: 2rem;

				div {
					position: relative;
					top: -0.4rem;
					flex: 1;
					height: 1px;
					margin: 0 0.7rem;
					border-bottom: 1px dashed #dfdfdf;
				}
			}
		}
	}

	.cart-empty {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 4rem;
		margin: auto;
		text-align: center;
		animation: fade-in 0.4s ease-in-out;

		.cart-empty-image {
			width: 120px;
			height: 120px;
			margin-bottom: 2rem;
			object-fit: contain;
		}

		.cart-empty-title {
			margin-bottom: 1rem;
			font-size: 2.2rem;
			font-weight: 600;
		}

		.cart-empty-text {
			margin-bottom: 2rem;
			font-size: 1.6rem;
			line-height: 2.4rem;
			color: #9d9d9d;
		}
	}
}

@keyframes slide-in-drawer {
	to {
		transform: translateX(0);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
		transform: scale(0.95);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

@media (max-width: 768px) {
	.overlay {
		.drawer {
			width: 100%;
			padding: 2rem;
		}

		.drawer-items {
			.cart-item {
				padding: 1.5rem;

				.cart-item-image {
					width: 60px;
					height: 60px;
					margin-right: 1.5rem;
				}
			}
		}

		.cart-total-block {
			ul {
				font-size: 1.6rem;
			}
		}

		.cart-empty {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 2.5rem;
			width: 100%;
			text-align: center;
		}
	}
}
