.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4rem;
	border-bottom: 1px solid #eaeaea;

	.logo {
		display: flex;
		align-items: center;
		text-decoration: none;
		color: inherit;

		.logo-image {
			margin-right: 1.5rem;
		}

		.logo-text {
			h3 {
				font-size: 2rem;
				font-weight: 700;
				line-height: 2.4rem;
				text-transform: uppercase;
			}

			p {
				font-size: 1.4rem;
				color: #9d9d9d;
			}
		}
	}

	.nav {
		.nav-list {
			display: flex;
		}

		.nav-item {
			display: flex;
			align-items: center;
			margin-right: 2rem;
			font-size: 1.4rem;
			color: #5c5c5c;
			cursor: pointer;

			img {
				width: 18px;
				height: 18px;
				margin-right: 0.8rem;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}
