.green-button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5rem;
	padding: 1rem 2rem;
	font-size: 1.6rem;
	font-weight: 600;
	color: #fff;
	background: #9dd558;
	border: none;
	border-radius: 1.125rem;
	cursor: pointer;

	&.auto {
		width: auto;
	}

	&.full {
		width: 100%;
	}

	.button-content {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;

		.small {
			font-size: 1.6rem;
		}

		.large {
			font-size: 1.8rem;
		}

		.green-button-icon {
			display: block;
			transition: transform 0.15s ease-in-out;
		}

		.green-button-icon.right {
			transform: rotate(0deg);
		}

		.green-button-icon.left {
			transform: rotate(180deg);
		}
	}

	&:hover .green-button-icon.right {
		transform: translateX(0.5rem);
	}

	&:hover .green-button-icon.left {
		transform: translateX(-0.5rem) rotate(180deg);
	}
}

@media (max-width: 768px) {
	.green-button {
		height: 4.5rem;
		font-size: 1.4rem;

		.button-content {
			font-size: 1.6rem;
		}
	}
}
