.card {
	position: relative;
	border: 1px solid #f3f3f3;
	padding: 3rem;
	width: 220px;
	border-radius: 40px;
	transition:
		box-shadow 0.2s ease-in-out,
		transform 0.2s ease-in-out;

	&:hover {
		box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
		transform: translateY(-5px);
	}

	&__favorite {
		position: absolute;
		top: 30px;
		left: 30px;
		cursor: pointer;
	}

	&__image {
		width: 100%;
		height: 135px;
		object-fit: contain;
		margin-bottom: 1.5rem;
	}

	&__title {
		font-weight: 400;
		font-size: 1.4rem;
		margin-bottom: 1.5rem;
		text-align: start;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__price {
		display: flex;
		flex-direction: column;
		gap: 0.4rem;

		span {
			font-size: 1.2rem;
			font-weight: 500;

			color: #bdbdbd;
			text-transform: uppercase;
		}

		b {
			font-size: 1.4rem;
			font-weight: 700;
		}
	}

	&__plus {
		cursor: pointer;
	}
}
