.card {
	position: relative;
	width: 220px;
	padding: 3rem;
	border: 1px solid #f3f3f3;
	border-radius: 40px;
	transition:
		box-shadow 0.2s ease-in-out,
		transform 0.2s ease-in-out;

	&:hover {
		box-shadow: 0 20px 35px rgb(0 0 0 / 6%);
		transform: translateY(-5px);
	}

	.card-favorite {
		position: absolute;
		top: 30px;
		left: 30px;
		cursor: pointer;
	}

	.card-image {
		width: 100%;
		height: 135px;
		object-fit: contain;
		margin-bottom: 1.5rem;
	}

	.card-title {
		margin-bottom: 1.5rem;
		font-size: 1.4rem;
		font-weight: 400;
		text-align: start;
		text-wrap: balance;
	}

	.card-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.card-price {
			display: flex;
			flex-direction: column;
			gap: 0.4rem;

			span {
				font-size: 1.2rem;
				font-weight: 500;
				text-transform: uppercase;
				color: #bdbdbd;
			}

			b {
				font-size: 1.4rem;
				font-weight: 700;
			}
		}

		.card-plus {
			cursor: pointer;
		}
	}
}
